# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cs362\a2_tdd_hw4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea/
.idea/../
